.text {
  color: #63666a;
  font-size: 0.875rem;
  line-height: 1.7;

  &.text--sm {
    font-size: 0.75rem;
  }

  &.text--lg {
    font-size: 1rem;
    line-height: 1;
  }

  strong {
    font-weight: 500;
  }

  a {
    color: var(--color-primary);
    font-weight: 500;
  }
}
