.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding: 0 1.875rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
  border: none;
  text-align: center;

  &.button--lg {
    @media only screen and (min-width: 768px) {
      font-size: 1rem;
      height: 4.875rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ddd;
  }
}
