.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userInfo__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .userInfo__badge {
    margin-bottom: 0.5rem;

    &.userInfo__badge--owner,
    &.userInfo__badge--inactive {
      border-color: #d3d3dc;
    }
  }

  .userInfo__title {
    padding: 0.125rem 0;
  }
}

.userInfo__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
