.badge {
  display: inline-block;
  padding: 0.375rem 0.875rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 0.675;
  letter-spacing: 0.1em;
  border: 1px solid transparent;
  border-radius: 0.5rem;

  &.badge--admin {
    background-color: var(--color-admin);
  }

  &.badge--editor {
    background-color: var(--color-editor);
  }

  &.badge--viewer {
    background-color: var(--color-viewer);
  }

  &.badge--guest {
    background-color: var(--color-guest);
  }

  &.badge--owner,
  &.badge--inactive {
    background-color: var(--color-deactivated);
    color: #292929;
  }
}
