.dashboard {
  padding: 17.8125rem 0 6.25rem;
}

.header {
  max-width: 41.875rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    strong {
      color: var(--color-primary);
    }
  }
}

.body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noresults {
  text-align: center;
}

.noresults__title {
  font-size: 1.25rem;
}
