.card {
  border: 1px solid #d3d3dc;
  border-radius: 1.25rem;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card__header {
    .card__header_badge {
      margin-bottom: 8px;
    }
  }

  .card__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
