.card {
  background-color: #fff;
  border: 1px solid #d3d3dc;
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__button {
  margin-top: auto;
}
