.searchInput {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media only screen and (min-width: 768px) {
    gap: 1rem;
  }
}

.searchInput__label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-gray);
  line-height: 1.7;
  letter-spacing: 0.1em;

  @media only screen and (min-width: 768px) {
    font-size: 0.875rem;
  }
}

.searchInput__form {
  display: flex;
  gap: 0.75rem;

  @media only screen and (min-width: 768px) {
    gap: 1.25rem;
  }

  input {
    background-color: #fff;
    border-radius: 1.25rem;
    border: none;
    font-size: 0.875rem;
    color: var(--color-gray);
    width: 100%;
    padding: 0 1rem;

    @media only screen and (min-width: 768px) {
      font-size: 1rem;
      padding: 0 1.5rem;
    }
  }

  [type="submit"] {
    flex-shrink: 0;
  }
}
