.modal {
  background-color: rgba(41, 41, 41, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3.125rem;
}

.modal__inner {
  background-color: #fff;
  margin: auto;
  border-radius: 1.25rem;
  max-width: 50rem;
  padding: 2rem;
}
