.filters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 1rem;
}

.filters__label {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--color-gray);
  line-height: 1.7;
  letter-spacing: 0.1em;
}
