:root {
  --color-primary: #fb6232;
  --color-admin: #003569;
  --color-editor: #269085;
  --color-viewer: #5993b9;
  --color-guest: #9f009f;
  --color-deactivated: #fff;
  --color-gray: #63666a;
  --color-gray-dark: #1b2134;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-dark);
  background-color: #f5f5f5;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  display: block;
}
