:root {
  --color-primary: #fb6232;
  --color-admin: #003569;
  --color-editor: #269085;
  --color-viewer: #5993b9;
  --color-guest: #9f009f;
  --color-deactivated: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
}
