.notFound {
  display: flex;
  min-height: 100vh;
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }
}

.notFound__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;

  @media only screen and (min-width: 768px) {
    font-size: 3.75rem;
  }
}

.notFound__image {
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 13.75rem;
  height: 13.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    bottom: -1.25rem;
  }
}
